{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<form class="login justify-content-center" method="POST" action="{% url 'account_login' %}" >
  {% csrf_token %}
  {{ form|crispy }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <a class="btn btn-outline-black rounded-2" href="{% url 'home' %}" style="background-color: #ff87a3; color: white;">Home</a>
  <button class="primaryAction btn btn-outline-black rounded-2" type="submit" style="background-color: #db6c4e; color: white;">{% trans "Sign In" %}</button>
  <a class="button btn btn-outline-black rounded-2" href="{% url 'account_reset_password' %}" style="background-color: #e05155; color: white">{% trans "Forgot Password?" %}</a>

</form>

{% endblock %}